@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@* <img src="~/imagen/logo2.png" class="img-fluid" width="60%" /> *@
	<img src="~/imagen/1709579287486.jpg" class="img-fluid" width="40%" />
</div>

